body{
    color: rgb(174, 149, 111);
}
h1{
    text-align: center;
}
h3{
    text-align: left;
}
#rowDiv{
    margin: auto;
    text-align: center;
    width: 100%;
}
input[type="text"]{
    height: 40px;
    font-size: 20px;
}
.button{
    height:70px;
}
#search{
    height: 40px;
    font-size: 20px;
    font-weight: 400;
}
#show{
    margin: auto;
    text-align: center;
}

.footer{
    background-color:aqua;
}